@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #263139;
    font-family: "Cabin", sans-serif, Helvetica;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    overflow-x: hidden;
    transition: all ease 0.25s;
}